<div class="m-5">
 <div class="m-5">
   <h4><span style="background-color:#ececec">　マイページ　</span></h4>
 </div>
   <h4><strong>登録情報</strong></h4>
   <%= link_to '編集する', edit_customer_path(@customer), class: "btn btn-sm btn-success edit_customer_#{@customer.id}" %>
</div>