<div class='container'>
  <div class='row'>
    <h2>商品一覧</h2>
    <table class='table'>
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜き価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <th>tarto</th>
          <th>1,200</th>
          <th>cake</th>
          <th>available</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>