<table class='table table-hover table-inverse col-9 table-active table-bordered'>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th colspan="5"></th>
    </tr>
  </thead>
  <tbody>
    <% cart_items.each do |cart_item| %>
      <tr>
        <td>
            <%= attachment_image_tag(item, :image, :fill, 100, 100, fallback: "no_image.jpg") %>
            <%= cart_item.name %>
        </td>
        <td><%= cart_item.price %></td>
        <td>数量セレクト</td>
        <td>小計</td>
        <td>削除する</td>
      </tr>
    <% end %>
  </tbody>
</table>