/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';


// トップページ
.box{
  height: 600px;
  width: 100%;
}

.container.mt-5{
    font-family: 'Comic Sans MS', cursive;
}

h1 {
   font-family: cursive;
    font-size: 40px;
}




h2{
    font-family: 'arial black';
}


.actions{
    margin: 20px;
}

.table td{
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}
// 見出し

.heading08 {
	font-size: 26px;
}

.heading08 span {
	display: flex;
	align-items: center;
	color: #498ee0;
	font-size: 18px;
	text-transform: uppercase;
}

.heading08 span::before {
	content: '';
	display: inline-block;
	margin-right: 20px;
	width: 40px;
	height: 1px;
	background-color: #498ee0;
}

// admin

.col-md-4{
display: inline-block;
padding-right: 15px;
padding-left: 15px;
margin: 0 20px;
}

.col-4.offset-1.hoge{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px;
}

.col-8.offset-4.pamu{
    margin-top: 30px;
}
.customer{
    display: inline-block;
    margin: 10px;
}

.navbar-nav{
    width: 100%;
    justify-content: flex-end;
}

.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
     margin: 0px 0px 30px 0px;
}

.row{
    width: 100%;
    text_align: center;
}

.pagination {
  justify-content: center;
}

.row.hoge{
    display: flex;
    justify-content: center;
}

.form-grop{
   border-radius: 60px 60px 60px 60px;
}

.under {
   background: linear-gradient(transparent 80%, #a8eaff 70%)
}

body{
    background: #f5f2e7;
}

footer{
font-family: 'Amatic SC', cursive;
font-size: 20px;
}

// header

$yellow:#EEFFFF;
$blue:#EEFFFF;
$gradient-bg: linear-gradient(90deg, $blue, $yellow);
$transparent-gray: rgba(0, 0, 0, 0.3);
$transparent-white: rgba(255, 255, 255, 0.15);



*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $gradient-bg;
  font-family: "Montserrat", sans-serif;
  color: #000000;

  // For codepen only
  height: 100vh;
}

.menu {
  ol {
    list-style: none;
    padding: 0;
    margin: 0;

    &:first-child {
      width: 100%;
      max-width: 960px;
      margin: 1rem auto 0 auto;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
      box-shadow: 0px 3px 8px $transparent-gray;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid $blue;
    position: relative;
    transition: background 0.3s ease-in-out;

    &:nth-child(1) > a::before {
      content: "\f015";
    }

    &:nth-child(2) > a::before {
      content: "\f05a";
    }

    &:nth-child(3) > a::before {
      content: "\f0ad";
    }

    &:nth-child(4) > a::before {
      content: "\f2e7";
    }

    &:nth-child(5) > a::before {
      content: "\f007";
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) > a::before {
        font-family: "Font Awesome 5 Free";
        font-size: 1.2rem;
        display: block;
        margin-bottom: 1rem;
        font-weight: 900;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        color: $blue;

        @media (min-width: 768px) {
          font-size: 1.5rem;
        }
      }
    }



      .menu-item {
        border-color: $transparent-white;

        a::before {
          content: "";
        }

        &:first-child {
          border: 0;
        }
      }
    }

    &:hover,
    &.active {
      border-top: 2px solid $yellow;
      background-color: $transparent-white;

      a::before {
        color: black;
      }
    }


    a {
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #000000;
      text-decoration: none;
      text-transform: uppercase;
      height: 100%;
      width: 100%;
      padding: 1.5em 1em;

      @media (min-width: 768px) {
        font-size: 1rem;
      }
    }

  }

// snsボタン
a.btn-sns {
  font-size: 2.4rem;
  line-height: 50px;

  width: 50px;
  height: 50px;
  padding: 0;

  letter-spacing: 0;

  color: #fff;
  border-radius: 50%;
}

a.btn-sns:hover {
  color: #fff;
}



a.btn-sns {
  font-size: 2.4rem;
  line-height: 50px;

  width: 50px;
  height: 50px;
  padding: 0;

  letter-spacing: 0;

  color: #fff;
  border-radius: 50%;
}

a.btn-sns:hover {
  color: #fff;
}

a.btn-sns--twitter {
  background: #1da1f2;
}


a.btn-sns {
  font-size: 2.4rem;
  line-height: 50px;

  width: 50px;
  height: 50px;
  padding: 0;

  letter-spacing: 0;

  color: #fff;
  border-radius: 50%;
}

a.btn-sns:hover {
  color: #fff;
}

a.btn-sns--instagram {
  background: #d6249f;
  background: -webkit-linear-gradient(45deg, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background: linear-gradient(45deg, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}


*,
*:before,
*:after {
 padding: 6px;
}


.btn,
a.btn,
button.btn {
  font-size: 17px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
}

  .fal, .fad, .fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}


// 画像用

.img_wrap{
  border: 1px solid #ddd;
  width: 80%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.img_wrap img{
  width: 100%;
  cursor: pointer;
  transition-duration: 0.5s;
}
.img_wrap img:hover{
  transform: scale(1.2) rotate(9deg);
  transition-duration: 0.5s;
}



.flat.border2 {
  position: relative;
  text-align: center;
  /* 中央揃え */
  display: block;
  margin: 0 auto;
  /* 幅の指定 */
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
  padding: 10px;
  /* 色の指定 */
  background: linear-gradient(135deg, #ffd900, #ff9300);
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  transition: 0.3s;
}
.flat.border2:hover {
  background: repeating-linear-gradient(135deg, rgba(255,255,255, 0.3), rgba(255,255,255, 0.3) 2px, transparent 2px, transparent 4px), linear-gradient(135deg, #ffd900, #ff9300);
}
.flat.border2:active, .flat.border2:focus {
  top: 2px;
}

// 管理者ページ共通
.title {
     font-family: 'Vollkorn', serif;
     letter-spacing: 3px;
}
// 管理者ページItem#new
.inputframe {
    border: none;
}
.newitem {
    input {
        border: none;
        outline: none;
        border-bottom: solid;
        background-color: transparent;
    }
    .length {
        width: 400px;
    }
}
// 管理者ページItem#index

.bodydesign {

  tr:nth-child(2n) {
    background-color: #dcdcdc;
  }

  tr {
    text-align: center;
  }
  th {
    text-align: center;
  }

}

.tfoot {
  background-color: #000000;
}

.button_text {
  font-size: 25px;
}
// pagination
.pagination-design {

  /*ページネーション自体のデザイン*/
  .pagination>li>a {
    border: none;     /*枠線をなくす*/
    color: #000000;   /*文字の色を変える*/
    font-family: 'Vollkorn', serif;
  }

  /* 表示しているページ番号のデザイン */
  .pagination>.active>a {
    background: #000000;     /*背景の色を変える*/
    border-radius: 15px;     /*角を丸くする*/
  }

  /*ホバー時のデザイン*/
  .pagination>li>a:hover {
    border-radius: 15px;    /*角を丸くする*/
  }
}

// adminのgenre#edit
.space {
  padding-bottom: 50px;
}

// adminのorder/show
.bodydesign-orderdetail {

  tr {
    background-color: #dcdcdc;
    text-align: center;
  }
  th {
    text-align: center;
  }

}

.title-orderdetail {
     font-family: 'Vollkorn', serif;
}